

html, body {
margin: 0;
padding: 0;
overflow-x: hidden;
}

p {
  font-family: 'Nunito', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

a {
  color:inherit;
}

a:hover {
  color: #6F4C5B;
}


.pitanje {
  padding-top: 35px;
}

.marke {
 text-align: center;
 border-spacing: 29px;
}

.navbar {
background-color: #6F4C5B !important;
padding: 20px 10px 20px 10px;
font-size:
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
    font-family:'Nunito', serif !important;
}

.majk {
font-size: 70px;
padding-top: 150px;
padding-left: 20px;
}

.tretman {
margin-bottom: 45px;
}

.bojanje {
  margin-bottom: 5px;
}

.naslov {
  margin-bottom: 30px;
}

.salon {
  padding: 20px 20px 20px 0;
}

.fs {
font-size: 20px;
letter-spacing: 1px;
padding-left: 40px;
}

.naslov {
  padding: 20px 10px 5px;
}

.bojanje.png {
  margin-top: 100px;
}

.fa {
  padding: 37px 10px;
text-decoration: none;
}

.lokacija {
  padding: 37px 10px;
}
.opis{
  text-align: right;
}

#o-nama {
  background-color: #ffffff;
  text-align: center;
color: #6F4C5B;
}

#uvod {
  background-color: #9E7777;
  text-align: center;
  color:  #ffffff;
}

#ponuda {
  background-color: #DEBA9D;
  text-align: center;
color: #6F4C5B;
padding: 20px;
}

#kraj {
  background-color: #F5E8C7;
  color: #6F4C5B;
  text-align: center;
  padding: 30px;
}
